*
{
  box-sizing: border-box;

}
body
{
  font-family: sans-serif;
  color: black;
  font-size: 15px;
}
h1
{
  padding: 10px;
  text-align: center;
}
.f
{
  float:right;
  border: 2px solid black;
  font-size: 20px;
  color: black;
  padding: 5px;
}
.f1
{
  background-color: white;
}
.f2
{
  background-color: red;
}
.f3
{
  background-color: green;
}
.s
{
  clear: right;
  padding: 10px;
}

.row
{
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 2px solid black;
    height: 240px;
    background-color: lightblue;
    margin: 1%;
    margin-top: 10%;
    width: 31%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 2px solid black;
    background-color: lightblue;
    height: 220px;
    margin: 2%;
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-12 {
    width: 94%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 2px solid black;
    background-color: lightblue;
    height: 220px;
    margin: 2%;
    width: 97%;
  }
}
